@mixin basicES{
    .navBar{
        width:96vw;
        height: 5.5vh;
        padding: 2vh 2vw 2vh 2vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: url('img/frontPageMobile.png') top center no-repeat;
        background-size: cover;
        border-bottom:0.5vh solid #080D0C;
    }
    .flexLeft{
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .flexRight{
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .cv{
        margin-left: 1rem;
    }
}

//extraSmall
@media (max-width: 425px) and (max-height: 619px){
    @include basicES();
}
//small
@media (min-height: 620px),(min-width: 426px){
    @include basicES();
    .cv{
        margin-left: 1.5rem;
    }
}
//medium
@media (min-height: 1200px),(min-width: 768px){
    @include basicES();
    .cv{
        margin-left: 2rem;
    }
}
//large
@media (min-width: 1024px){
    @include basicES();
    .cv{
        margin-left: 2rem;
    }
}
//extraLarge
@media (min-width: 1440px){
    @include basicES();
    .cv{
        margin-left: 3rem;
    }
}