@mixin basicComponentES {
    //Component Element
    .component{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        //Black bar 'About me'
        .aboutMeBar{    
            display: block;
            @include flexCenter();
            width: 100vw;
            color: white;
            height: 30px;
            background-color: #080D0C;
        }
        //Details
        .details{
            width: 100vw;
            height: 60vh;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
        }
        //scrolling to next component
        .interactive{
            display: flex;
            @include flexCenter();
            width: 100vw;
            height: 30px;
            background-color: #080D0C;
            border: 0px;
            color: #EEEDEE;
        }
        .sticky{
            position: sticky;
            top: 0;
        }  
        //First Text first component
        .intro{
            font-size: 1.2rem;
            text-align: center;
            font-weight: 400;
        }
        //Correction for text in third component
        .textAdult{
            color: #EEEDEE;
            flex-basis: 200px;
        }
        // sizes of img
        .imgAdult img{
            width: 150px;
            margin-bottom: 2rem;
        }
        .imgTeenager img{
            width: 150px;
            margin-bottom: 2rem;
        }
        .imgKid img{
            width: 150px;
            margin-bottom: 2rem;
        }
        .imgFuture img{
            width: 150px;
            margin-bottom: 2rem;
        }
    }
    //Backgrounds for Components //
    .kid{
        background: url('img/kidBackground.png') center center no-repeat;
        background-size: cover;
    }
    .teenager{
        background: url('img/teeenagerBackground.png') center center no-repeat;
        background-size: cover;
    }
    .adult{
        background: url('img/adultBAckground.png') center top no-repeat;
        background-size: cover;
    }
    .future{
        background: url('img/futureBg.png') center center no-repeat;
        background-size: cover;
    }
    .adult .imgAdult{
        flex-basis: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imgTeenager{
        order: 1;
    }
    .teenagerText{
        order: 2;
    }
    .imgFuture{
        order: 1;
    }
    .textFuture{
        order: 2;
    }
    
}

@media (max-width: 425px),(max-height: 619px){
    @include basicComponentES();
}
@media (min-height: 620px)and(min-width: 426px){
    @include basicComponentES();
    .component{
        font-size: 2rem;
        width: 100vw;
        //Black bar 'About me'
        .aboutMeBar{    
            font-size: 2rem; 
        }
        .details{
            font-size: 1.5rem;
            justify-content: space-evenly;
        }
        //First Text first component
        .intro{
            font-size: 1.8rem;
        }
        //Correction for text in third component
        .imgAdult img{
            width: 200px;
            margin-bottom: 2rem;
        }
        .imgTeenager img{
            width: 200px;
            margin-bottom: 2rem;
        }
        .imgKid img{
            width: 200px;
            margin-bottom: 2rem;
        }
        .imgFuture img{
            width: 200px;
            margin-bottom: 2rem;
        }
    }

}
@media (min-width: 768px){
    @include basicComponentES();
    .component{
        width: 100vw;
        .details{
            font-size: 1.7rem;
            flex-direction: row;
        }
        .interactive{
            font-size: 1.8rem;
        }
        //Black bar 'About me'
        .aboutMeBar{   
            font-size: 2rem; 
        }
        //First Text first component
        .intro{
            font-size: 2rem;
        }
        //Correction for text in third component
        .textAdult{
            flex-basis: 500px;
        }
        .imgAdult img{
            width: 200px;
        }
        .imgTeenager img{
            width: 200px;
        }
        .imgKid img{
            width: 200px;
        }
        .imgFuture img{
            width: 200px;
        }
        
    }
    //Correction of photo
    .adult .imgAdult{
        flex-basis: 200px;
    }
    .imgTeenager{
        order: 2;
    }
    .teenagerText{
        order: 1;
    }
    .imgFuture{
        order: 2;
    }
    .textFuture{
        order: 1;
    }
    
}
@media (min-width: 1024px){
    @include basicComponentES();
    .component{
        width: 100vw;
        .details{
            font-size: 2rem;
            flex-direction: row;
        }
        .detailsAdult{
            font-size: 2rem;
        }
        //First Text first component
        .intro{
            font-size: 3rem;
        }
        //Correction for text in third component
        .textAdult{
            color: #EEEDEE;
            flex-basis: 500px;
        }
        .imgAdult img{
            width: 320px;
        }
        .imgTeenager img{
            width: 320px;
        }
        .imgKid img{
            width: 320px;
        }
        .imgFuture img{
            width: 320px;
        }
        
    }
    //Correction of photo
    .adult .imgAdult{
        flex-basis: 200px;
    }
    .imgTeenager{
        order: 2;
    }
    .teenagerText{
        order: 1;
    }
    .imgFuture{
        order: 2;
    }
    .textFuture{
        order: 1;
    }
    
    
}
@media (min-width: 1440px){
    @include basicComponentES();
    .component{
        width: 100vw;
        .details{
            font-size: 2rem;
            flex-direction: row;
        }
        .detailsAdult{
            font-size: 2rem;
        }
        //First Text first component
        .intro{
            font-size: 3.5rem;
        }
        //Correction for text in third component
        .textAdult{
            flex-basis: 500px;
        }
        .imgTeenager img{
            width: 350px;
        }
        .imgAdult img{
            width: 350px;
        }
        .imgKid img{
            width: 350px;
        }
        .imgFuture img{
            width: 350px;
        }
        
    }
    //Correction of photo
    .adult .imgAdult{
        flex-basis: 300px;
    }
    .imgFuture{
        order: 2;
    }
    .textFuture{
        order: 1;
    }
    .imgTeenager{
        order: 2;
    }
    .teenagerText{
        order: 1;
    }
    
}
section{
    scroll-snap-align: start;
}


//Arrows on components
.arrow2{
    font-size: 5rem;
    color: #080D0C;
}
