@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin basicBtn2Es {
    .linkBtn2{
        @include flexCenter();
        transition: 0.6s;
        font-size: 1rem;
        width: 65px;
        height: 20px;
        background-color: #EEEDEE;
        border-radius:15px ;
        border: 1px solid #A6401B;
    }
}
@media (max-width: 425px),(max-height: 619px){
   @include basicBtn2Es();
}
@media (min-height: 620px)and(min-width: 426px){
    @include basicBtn2Es();
    .linkBtn2{
        font-size: 1.5rem;
        width: 100px;
        height: 30px;
    }
}
@media (min-height: 1200px),(min-width: 768px){
    @include basicBtn2Es();
    .linkBtn2{
        font-size: 1.5rem;
        width: 100px;
        height: 30px;
    }
}
@media (min-width: 1024px){
    @include basicBtn2Es();
    .linkBtn2{
        font-size: 1.5rem;
        width: 100px;
        height: 30px;
        
    }
}
.linkBtn2{
    &:hover{
        transition: 0.4s;
        border: 1px solid #EEEDEE;
        color: #EEEDEE;
        background: rgba($color: #A6401B, $alpha: 0.4);
    }
}